.name_title {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 64px;
    margin-right: 64px;

    h1 {
        font-size: 80px;
    }
}

.reward_title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.reward_title {
    background-color: #D8EEF5;
    margin-bottom: 32px;

}

.img_title {

    img {
        height: 183px;
        width: 183px;
    }
}

.content_reward {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.desc_content {
    background-color: #D8EEF5;
    height: 507px;
    width: 820px;
    box-shadow: 0.8rem 0.5rem 8px grey;
    border-radius: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin-right: 32px;
    }
}

.login_input_name {
    display: flex;
    margin-bottom: 8px;
}

.input {
    margin-top: 8%;
}

.input_label {
    width: 110px;
}

.input_box {
    margin-left: 32px;
    height: 30px;
    width: 200px;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    background-color: #F77F00;
    width: 100%;
    height: 38px;
    color: white;
    border-radius: 10px;
    border: none;
}

.button:hover {
    background-color: #cf6c02;
}

.button>p {
    margin: auto;
    text-align: center;
    color: white;
}