.container_nav {
    display:  flex;
    background-color: #003049;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo_nav {
    margin-left: 32px;
}

.menu_nav {
    margin-right: 32px;
}

.menu_nav > ul {
    display: flex;
    list-style-type: none;
}

.menu_nav > ul > li {
    margin-right: 16px;
}

.menu_nav > ul > li:hover {
    color: rgb(197, 197, 197);
    cursor: pointer;
}

.nav_item{
    color: inherit;
    text-decoration: none;
}