.container_Reward {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.students {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}

.student {
    background-color: #D8EEF5;
    height: 100px;
    width: 400px;
    gap: 24px;
    display: flex;
    align-items: center;
}

.photo>img {
    background-color: white;
    height: 75px;
    width: 75px;
    border-radius: 75px;
    margin-left: 20px;
    border: 1px solid rgb(124, 123, 123);
}

.student:hover {
    background-color: white;
    p {
        color: gray;
    }
    img {
        opacity: 80%;
    }
}

@media (max-width: 500px) {
    .students {
        width: 500px;
    }

    .student {
        height: 100px;
        width: 500px;
    }
}