
.container_Reward {
    background-color: #ffffff;
    display: flex;
    gap: 18%;
}

.studens{
    margin: -32px;
}

.studen {
    background-color: #D8EEF5;
    height: 100px;
    width: 300px;
    display: flex;
    gap: 24px;
}

.photo {
    background-color: white;
    height: 75px;
    width: 75px;
    border-radius: 75px;
    display:flex ;
}


.pages {
    background-color: rgba(247, 128, 0, 0.322);
    height: 600px;
    width: 990px;
    display: flex;
    justify-content: right;
    align-items: end;
    border-radius: 20px;
}

.ellipses {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 400px;
    border-radius: 400px;
    margin-right: 56%;
    margin-bottom: 16%;
}

.ellipse {
    background-color: #7B0C0C;
    height: 80px;
    width: 80px;
    border-radius: 80px;
}

.ellipse2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ellipse_2 {
    background-color: #7B0C0C;
    height: 120px;
    width: 120px;
    border-radius: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}