table {
    border-radius: 16px;
}

thead {
    background-color: #658E9C;
}

thead, tbody {
    border-collapse: collapse;
}

thead>tr>th, tbody>tr>td {
    padding: 24px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}   