.container {
    margin-bottom: 5px;
}

.list {
    display: flex;
    background-color: white;
    height: 130px;
    width: 1440px;
    margin-bottom: 8px;
    gap: 30px;
    box-shadow: 0px 0px 0px grey;
    box-shadow: .8px .9px 3px grey;
    transition: box-shadow .2s ease-in;
}

.btn_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number {
    text-align: center;
    height: 130px;
    width: 100px;
}

.reward {
    text-align: left;
    height: 130px;
    width: 1200px;
    margin-left: -32px;
}

.point {
    text-align: center;
    height: 130px;
    width: 130px;
}

.div_hr>hr {
    display: flex;
    height: 130px;
    margin-top: -1px;
}

@media (max-width: 1220px) {
    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        height: 110px;
        width: 1020px;
    }

    .div_hr>hr {
        display: flex;
        height: 110px;
        margin-top: 8px;
    }
}

@media (max-width: 992px) {
    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        height: 100px;
        width: 800px;
    }

    .div_hr>hr {
        display: flex;
        height: 100px;
        margin-top: 8px;
    }

    .point>p {
        margin-left: -32px;
    }

    .btn_text {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4px;
        height: 70px;
        width: 350px;
    }

    .div_hr>hr {
        display: flex;
        height: 70px;
        margin-top: 8px;
    }

    .point>p {
        margin-left: -32px;
    }

    .btn_text {
        font-size: 10px;
    }
}