.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.photo {
    background-color: white;
    height: 350px;
    width: 350px;
    border-radius: 350px;
}

.photo > img{
    height: 350px;
    width: 350px;
    border-radius: 350px;
    border: 3px solid white;
}
.studen {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 32px;
    margin-left: 16px;
    gap: 24px;
}

.text {
    display: flex;
    margin-bottom: -10px;
}

.text_title {
    width: 100px;
    margin-left: 24px;
}


.barexp {
    margin: 16px;
}

.bar {
    background-color: rgb(255, 255, 255);
    height: 20px;
    border-radius: 20px;
}

.notes > h3 {
    margin-left: 16px;
}

.note {
    background-color: white;
    height: 375px;
    margin: 16px;
    width: 765px;
    border-radius: 20px;
}

.note > ul {
    margin: 16px;
}