.container_RewardContents {
    margin-left: 16px;
}

.title {
    font-size: 16px;
}

.RewardsContents {
    background-color: white;
    height: 300px;
    width: 460px;
    border-radius: 15px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #D8EEF5;
}

td, th {
    text-align: left;
    padding: 8px;
  }