.name_title {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 64px;
    margin-right: 64px;

    h1 {
        font-size: 80px;
    }
}

.siswa_title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.siswa_title {
    background-color: #D8EEF5;
    margin-bottom: 32px;

}

.img_title {
    img {
        height: 183px;
        width: 183px;
    }
}

.content_siswa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc_content {
    border: 1px solid black;
    background-color: #D8EEF5;
    height: 507px;
    width: 820px;
    box-shadow: 0.8rem 0.5rem 8px grey;
    border-radius: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin-right: 32px;
    }
}

.login_input_name {
    display: flex;
    margin-bottom: 8px;
}

.input {
    margin-top: 8%;
}

.place_name {
    height: 25px;
    width: 250px;
    border-radius: 5px;
    margin-left: 131px;
}

.place_id {
    height: 25px;
    width: 250px;
    border-radius: 5px;
    margin-left: 159px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    background-color: #F77F00;
    width: 130px;
    height: 38px;
    border-radius: 10px;
    color: white;
    border: none;
}

.button:hover {
    background-color: #cf6c02;
}

.button>p {
    margin: auto;
    text-align: center;
    color: white;
}

@media (max-width: 1220px) {
    .desc_content {
        height: 490px;
        width: 780px;
    }

    .name_title {
        h1 {
            font-size: 60px;
        }
    }

    .img_title {
        img {
            height: 160px;
            width: 160px;
        }
    }
}

@media (max-width: 992px) {
    .siswa_title {
        height: 300px;
    }

    .desc_content {
        height: 380px;
        width: 600px;
    }

    .name_title {
        h1 {
            font-size: 45px;
        }
    }

    .img_title {
        img {
            height: 145px;
            width: 145px;
        }
    }
}

@media (max-width: 500px) {
    .siswa_title {
        height: 218px;
    }

    .desc_content {
        height: 343px;
        width: 300px;
    }

    .name_title {
        margin-left: 10px;

        h1 {
            font-size: 25px;
        }
    }

    .img_title {
        margin-left: 48px;

        img {
            height: 90px;
            width: 90px;
        }
    }

    .login_input_name {

        font-size: 10px
    }

    .place_id {
        height: 15px;
        width: 150px;
        margin-left: 50px;
    }

    .place_name {
        height: 15px;
        width: 150px;
        margin-left: 32px;
    }

    .button {
        height: 20px;
        width: 70px;
        border-radius: 5px;
    }
}