.container {
    background-color: #003049;
    height: 150px;
    margin-top: 2%;
}

.footer_title {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer_name>p {
    color: aliceblue;
    font-size: 20px;
    text-align: end;

}

.footer_name2>p {
    color: aliceblue;
    font-size: 25px;
    text-align: end;
    margin-top: 12%;
}


.div_hr {
    display: flex;
    height: 64px;
    margin-top: 1%;
}

.sosmed {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-left: 5%;
}

.icons>img {
    height: 30px;
    width: 30px;
}

.title2>a {
    color: aliceblue;
    font-size: 16px;
    margin-left: -35%;
}

@media (max-width: 1220px) {
    .title2>a {
        margin-left: -25%;
    }
}

@media (max-width: 992px) {
    .title2>a {
        margin-left: -22%;   
    }
}

@media (max-width: 500px) {
    .container {
        height: 106px;
    }

    .footer_name>p {
        font-size: 15px;
    }

    .footer_name2>p {
        margin-top: 24px;
        font-size: 15px;
    }

    .icons>img {
        height: 20px;
        width: 20px;
    }

    .title2>a {
        font-size: 12px;
        margin-left: -16%;
    }
}