.container {
    display: flex;
    background-color: #003049;
    justify-content: center;
    height: 150px;
    margin-top: 10%;
    
}

.title {
    margin-top: 20px;
    margin-right: 24px;
}

.title>p {
    font-size: 18px;
    text-align: right;
    color: white;
}

.icone {
    display: flex;
    gap: 10px;   
    margin-left: -50%;
}

.icon {
    background-color: white;
    border-radius: 30px;
    margin-top: 8px;
    height: 30px;
    width: 30px;
}

.title2 {
    color: white;
    font-size: 25px;
    margin-left: 24px;
}

.title2>a {
    color: white;
    font-size: 20px;
    margin-left: 50%;
}

/* hr */
.div_hr {
    display: flex;
    height: 70px;
    margin-top: 10px;
}