.student {
    background-color: #D8EEF5;
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.student_name {
    gap: 16px;
    display: flex;
    align-items: center;
}

.student_score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: white;
    padding: 16px;
    margin-right: 16px;
}

.photo>img {
    background-color: white;
    height: 75px;
    width: 75px;
    border-radius: 75px;
    margin-left: 20px;
    border: 1px solid rgb(124, 123, 123);
}

.student:hover {
    background-color: white;
    p {
        color: gray;
    }
    img {
        opacity: 80%;
    }
    .student_score {
        background-color: green;
        color: white;
    }
}

@media (max-width: 500px) {
    .students {
        width: 500px;
    }

    .student {
        height: 100px;
        width: 500px;
    }
}